.function-list {
}

.function-item {
    color: #2a2b2a;
    font-family: 'Courier New', Courier, monospace;
}

.function-item:hover {
    color: white;
    cursor: pointer;
    background-color: #5b92e5;
}

.function-highlight {
    color: white;
    background-color: #5b92e5;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #2a2b2a;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }