.listing-container {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 3rem;
}

.listing-wrapper {
}

.listing-block {

}

.listing-line {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.listing-label {
    color: black;
    grid-column: span 3;
}

.listing-op {
    color: blue;
}

.listing-addr {
    color: darkblue;
    grid-column-start: 2;
}

.listing-instruction {
    color: darkred;
    cursor: pointer;
    grid-column: span 3;
}

.listing-instruction:hover {
    background-color: yellow;
}

.xref {
    color: grey;
    max-width: 100%;
    grid-column: span 2;
}