.component-wrapper {
    border: 1px solid #5b92e5;
}

.component-title {
    font-weight: bold;
    margin: 0.3rem;
    border-bottom: 1px solid #5b92e5;
    display: flex;
    /* gap: 1rem; */
    /* position: fixed; */
    top: 0;
    /* position: sticky; */
    background-color: white;
}

.component-body {
    margin: 0.5rem;
    /* overflow-y: scroll; */
    /* height: calc(100% - 3.2rem);  */
    overflow-x: auto;
}

.react-grid-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.react-grid-item > * {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    /* padding: 10px; */
}

.draggable-handle {
    cursor: move;
    background-color: #ccc;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #aaa;
    padding: 2px;
    padding-left: 5px;
    height: 20px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: hidden;
    user-select: none;
    font-family: monospace;
    font-size: 0.75rem;
    font-weight: bolder;
}