.component-wrapper {
    border: 1px solid #5b92e5;
}

.component-title {
    font-weight: bold;
    padding: 0.3rem;
    border-bottom: 1px solid #5b92e5;
    display: flex;
    gap: 1rem;
}

.component-body {
    padding: 0.5rem;
    overflow-y: scroll;
    height: calc(100% - 3.2rem); /* Adjust 2rem to the height of .component-title */
}

.react-grid-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.react-grid-item > * {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 10px;
}

.draggable-handle {
    cursor: move;
    background-color: #ccc;
    /* text-align: right; */
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #aaa;
    padding: 0px;
    height: 20px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: hidden;
    user-select: none;
}